* {
  box-sizing: border-box;
  text-align: center;
}

button {
  border-radius: 50%; 
  max-width:50%; 
  max-height: 15%; 
}

#connect {
  background-color: greenyellow;
}

#disconnect {
  background-color: red;
}

#record {
  background-color: green;
}

#stop {
  background-color: red;
}